<!DOCTYPE html>
<html>
<head>
  <title>PageApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class="col-xs-3">
      <div class="circle">
        <br />
        You know
        <br />
        you need
        <br />
        to code
      </div>
    </div>
    <div class="col-xs-4 slogan">
      puking quotes which haven't even been funny in the moment they where made.
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </header>
  <hr />

  <br class="clear" />

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-xs-6">
        This isn't enough, I need more
      </div>
      <div class="col-xs-6 footer-blurb">
        Proudly hacked by Pia in Hamburg, Germany
      </div>
    </div>
  </div>

</body>
</html>
